partiel2015/partition_musicale.dtd

<!ELEMENT partition(titre, listenotes+, auteur?)
<!ELEMENT titre #PCDATA><
<!ELEMENT auteur #PCDATA>
<!ELEMENT listenotes(note+)>;
<!ELEMENT note (valeur, duree, alternation)>
<!ATTLIST note
          valeur (DO|RE|MI|FA|SOL|LA|SI|SILENCE) #REQUIRED
          alternation (D|B) #IMPLIED
          duree #REQUIRED>
